<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>

  <fieldset>
    <legend>Default shifts</legend>
    <ul>
      <%= f.fields_for :default_shifts do |builder| %>
      <%= render 'default_shift_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields 'Add default shift', f, :default_shifts %>
  </fieldset>
  <br>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
