<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  

  <fieldset>
    <legend>Default shifts</legend>
    <ul>
      <%= f.fields_for :default_shifts do |builder| %>
      <%= render 'default_shift_fields', f: builder %>
      <% end %>
    </ul>
    <%= link_to_add_fields 'Add default shift', f, :default_shifts %>
  </fieldset>
  <br>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
<br>
<br>

#Edit Payrate Prototyping

<legend>Payrates</legend>
		<form>						
			<ul >
        <li>
		 Under 16 years 
		<input type="text" maxlength="100" value=""/> 
	      </li>
        <li>
		16 years 
		<input type="text" maxlength="100" value=""/> 
	      </li>
        <li>
		17 years
		<input type="text" maxlength="255" value=""/> 
	      </li>
        <li>
		18 years 
		<input type="text" maxlength="255" value=""/> 
	      </li>
        <li>
		19years 
		<input type="text" maxlength="255" value=""/> 
	      </li>
        <li>
		21 years
		<input type="text" maxlength="255" value=""/> 
	      </li>
        <li>
		21 years and over
		<input type="text" maxlength="255" value=""/> 
	      </li>
        <li>
		Super
		<input type="text" maxlength="255" value="9%"/> 
	      </li>
					
		</form>