<h1><%= @store.name %> <small><%= link_to 'Edit', edit_store_path(@store) %></small></h1>

<%= link_to '<', store_url(@store, start_date: @dates.first - 7.days), class: 'btn btn-large prev pull-left' %>
<%= link_to '>', store_url(@store, start_date: @dates.first + 7.days), class: 'btn btn-large next pull-right' %>

<table class="roster">
  <tr>
    <th></th>
    <% @dates.each do |date| %>
    <th><%=raw date.strftime('<span class="hday">%A</span><br>%d %b %y') %>&nbsp;&nbsp;<span class="label label-info">3/8&nbsp;26%</span>
    </th>
    <% end %>
    
  </tr>
  <% @employees.each do |employee| %>
      <tr>
        <td><span class="hday">
          <%= employee.first_name %></span><br><span class="hsurname">
          <%= employee.last_name %></span>
        </td>
        <%= render employee.shifts.select{ |s| s.date.in?(@dates) } %>
      </tr>
        <td><span class="hday">
          Test</span><br><span class="hsurname">
          Employee</span>
        </td>
        <td>
          <div class="shift well">
            <span class="shift-time">7am - 3pm</span><br>
            <span class="shift-info">1/2hr break at 10am</span><br><br>
            <span class="shift-info">OPEN</span><br>
            <span class="shift-info">FM, BV, Coke</span>
          </div>
        </td>
  <% end %>
</table>
