<%= link_to '<', root_url(start_date: @dates.first - 7.days), class: 'btn btn-large prev pull-left' %>
<%= link_to '>', root_url(start_date: @dates.first + 7.days), class: 'btn btn-large next pull-right' %>

<table class="roster">
  <tr>
    <th></th>
    <% @dates.each do |date| %>
      <th><%=raw date.strftime('%A<br>%d %b %y') %></th>
    <% end %>
  </tr>
  <% @employees.each do |employee| %>
      <tr>
        <td>
          <%= employee.first_name %><br>
          <%= employee.last_name %>
        </td>
        <%= render employee.shifts %>
      </tr>
  <% end %>
</table>
