<%= link_to '<', root_url(start_date: @dates.first - 7.days), class: 'btn btn-large prev pull-left' %>
<%= link_to '>', root_url(start_date: @dates.first + 7.days), class: 'btn btn-large next pull-right' %>

<table class="roster">
  <tr>
    <th></th>
    <% @dates.each do |date| %>
      <th><%=raw date.strftime('%A<br>%d %b %y') %></th>
    <% end %>
  </tr>
  <% Employee.all.each do |employee| %>
    <tr>
      <td>
        <%= employee.first_name %><br>
        <%= employee.last_name %>
      </td>
      <% @dates.each do |date| %>
        <td>
          <%= select "shift", "start_time_id", Shift.where(day: date.wday).map{ |p| [ p.start_time_finish_time_friendly, p.id ] }, {prompt: 'Shift'},  class: 'input-medium' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
