<h1>Standard shifts</h1>

<table class="table">
  <tr>
    <th>Store</th>
    <th>Day</th>
    <th>Shift</th>
    <th>Break time</th>
    <th>Shift type</th>
    <th>Orders to place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
 

<% @shifts.each do |shift| %>
  <tr>
    <td><%= shift.store.name %></td>
    <td><%= shift.day %></td>
    <td><%= shift.start_time .strftime('%l:%M %p') %> - <%= shift.finish_time .strftime('%l:%M %p') %></td>
    <td><%= shift.break_time .strftime('%l:%M %p') %></td>
    <td><%= shift.shift_type %></td>
    <td><%= shift.orders_to_place %></td>
    <td><%= link_to 'Show', shift %></td>
    <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
    <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
   
<% end %>
</table>
<br />
<%= link_to 'New Shift', new_shift_path %>
<br />








<h1>ROSTER</h1>

   
   <% staffname = Employee.all %>
    <table>
      <tr>
        <td></td>
        <td></td>
        <th align="center">26 AUG 2012</th>
        <th align="center">27 AUG 2012</th>
        <th align="center">28 AUG 2012</th>
        <th align="center">29 AUG 2012</th>
        <th align="center">30 AUG 2012</th>
        <th align="center">1 SEP 2012</th>
        <th align="center">2 SEP 2012</th>
        <th align="right"></th>
      </tr> 
      <tr>
        <td></td>
        <td></td>
        <th align="center">SUNDAY</th>
        <th align="center">MONDAY</th>
        <th align="center">TUESDAY</th>
        <th align="center">WEDNESDAY</th>
        <th align="center">THURSDAY</th>
        <th align="center">FRIDAY</th>
        <th align="center">SATURDAY</th>
        <th align="right">TOTAL HOURS</th>
      </tr>  
      <% Employee.all.each do |employee|%>
      <tr>
        <td>
      <%= employee.first_name %> <br /> <%= employee.last_name %>
        </td>
        <td>
      Shift<br />Break<br />Hours<br />Role<br />N/A
        </td>
        <% (0..6).each do |i| %>
          <td>
            <%=  select "shift", "start_time_id", Shift.where(day: i).map{ |p| [ p.start_time_finish_time_friendly, p.id ] }, {prompt: 'Select Shift'},  class: 'input-medium' %><br>
            Break time<br>
            Hours<br>
            Role<br>
            NA
          </td>
        <% end %>
        <td>
          hours_worked
        </td>
      </tr>
    <% end %>
    
        
  
  
  </table>
    
  <br />
   <br />
   
   Breaks <%= @shifts.collect{|b| (b.break_time .strftime('%l:%M %p'))} %><br />
   Hours <%= @shifts.collect{|h| (h.finish_time - h.start_time) / 3600} %><br />
   Roles <%= @shifts.collect{|r| (r.shift_type)} %><br />
    
      
 
          
