<!DOCTYPE html>
<html>
<head>
  <title>RosterApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">RosterApp</a>
        <ul class="nav pull-right">
          <% Store.all.each do |store| %>
            <li>
              <%= link_to store.name, store_path(store) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<%= yield %>
</body>
</html>
